.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: slategray;
  ;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 4px;
  font-size: 17pt;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: darkslategray;
  color: lightgray;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

button:hover {
  background-color: teal;
  cursor: pointer;
}

.welcome-page {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.welcome-page p {
  font-size: 16pt;
  max-width: 24em;
  text-align: center;
}

/* owners */
#owners-container {
  margin: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#owners-container div {
  font-size: 16pt;
  color: lightgray;
  background-color: darkslategray;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}



/* dogs */
#dogs-container {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
}

.list-item-dog {
  color: lightgray;
  padding: 8px;
  align-items: center ;
  background-color: darkslategrey;
  display: flex;
  flex-direction: row;
  height: 7em;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
  transition: background-color, height, 0.4s;
}

.list-item-dog:hover {
  background-color: teal;
}

.dog-img {
  margin-left: 8px;
  object-fit: cover;
  width: 6em;
  height: 6em;
  transition: height 0.5s;
}

.dog-name {
  margin-left: 16px;
  font-size: 15pt;
  font-weight: bold;
}

.dog-secondary-info {
  text-align: right;
  width: 100%;
  opacity: 0.75;
}

.dog-secondary-info p {
  margin: 0px;
}

@media (max-width: 600px) {
  #owners-container {
    grid-template-columns: 1fr;
  }
  
  #dogs-container {
    grid-template-columns: 1fr;
  }
}

.item-open {
  height: 18em;
  transition: height 0.5s;
}
